@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .input {
    @apply flex flex-col gap-2;
  }

  .input > label {
    @apply italic text-zinc-500;
  }

  .input > input,
  textarea {
    @apply placeholder:text-zinc-500 w-full bg-zinc-800 focus:outline-none rounded-lg px-8 py-4 text-white border-zinc-700 border font-bold text-2xl;
  }

  .input > textarea {
    @apply resize-none;
  }

  .button {
    @apply w-full px-8 py-4 bg-blue-600 cursor-pointer hover:bg-blue-500 font-bold text-center rounded-lg text-2xl flex items-center justify-center gap-2;
  }

  .button > svg {
    @apply text-3xl;
  }

  .button.delete {
    @apply bg-red-600 hover:bg-red-500;
  }

  .button.disabled {
    @apply bg-zinc-800 hover:bg-zinc-800 cursor-not-allowed border border-zinc-700 text-zinc-500;
  }

  .percent {
    @apply absolute bottom-0 left-0 w-full h-2 bg-white/30 before:absolute before:h-full before:bg-blue-500 before:left-0 before:top-0;
  }

  .percent::before {
    width: var(--value);
  }

  .spin {
    rotate: 0deg;
    transition: rotate 1s ease-out;
    animation: spin 0.5s infinite linear paused;
  }

  .spin-group:hover > .spin {
    rotate: -360deg;
    animation-play-state: running;
  }

  @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }
}
